<!DOCTYPE html>
<html>

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Dashboard - RMS</title>

      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

      <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
      <link rel="stylesheet" href="/css/untitled.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/style.css">

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>



<body id="page-top">

      <div id="wrapper">

            <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
                  <div class="container-fluid d-flex flex-column p-0">
                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
                              href="#">
                              <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-address-book"></i></div>
                              <div class="sidebar-brand-text mx-3"><span>RMS</span></div>
                        </a>

                        <hr class="sidebar-divider my-0">

                        <ul class="nav navbar-nav text-light" id="accordionSidebar">

                              <li class="nav-item"><a class="nav-link " href="/dashboard"
                                          style="border-bottom-style: solid;"><i
                                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>

                              <li class="nav-item"><a class="nav-link" href="/home"
                                          style="border-bottom-style: solid;"><i
                                                class="fas fa-briefcase"></i><span>Manage Items</span></a>
                              </li>

                              <!-- <li class="nav-item"><a class="nav-link" href="/additems"
                                          style="border-bottom-style: solid;"><i class="fas fa-briefcase"></i><span>Add
                                                New Items</span></a></li> -->
            
                              <li class="nav-item"><a class="nav-link" href="/tables"
                                    style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Manage
                                          Tables</span></a></li>

                              <li class="nav-item"><a class="nav-link" href="/categories"
                                          style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Manage
                                                Categories</span></a></li>

                              <!-- <li class="nav-item"><a class="nav-link" href="/addcategory"
                                          style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Add
                                                Categories</span></a></li> -->

                              <li class="nav-item"><a class="nav-link" href="/staff"
                                          style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Manage
                                                Staff</span></a></li>

                              <!-- <li class="nav-item"><a class="nav-link" href="/addstaff"
                                          style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Add
                                                Staff</span></a></li> -->

                              <li class="nav-item"><a class="nav-link" href="/billing"
                                          style="border-bottom-style: solid;"><i class="fas fa-dollar"></i><span>Manage
                                                Billing</span></a></li>

                              <li class="nav-item"><a class="nav-link" href="/waitinglist"
                                          style="border-bottom-style: solid;"><i class="fas fa-user"></i><span>Waiting
                                                list</span></a></li>

                        </ul>

                        <div class="text-center d-none d-md-inline"></div>
                  </div>
            </nav>